table tr{background-color: white;}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: 500px;
}

.but {
    font-size: 20px;
    background-color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 12px;
    border: none;
}

.divRicerca{
    justify-content: center;
    background-color: white;
    border: none;
    width: 400px;
    margin-left: 10px;
    margin-top: -3%;
    border-radius: 12px;
}

.divBottoni{
    margin-left: 500px;
}

form.example input[type=text] {
    padding: 6px;
    width: 80%;
    font-size: 17px;
    border: 1px solid orangered;
    border-top: none;
    float: left;
    background: #f1f1f1;
    border-right: none;
    border-bottom-left-radius: 12px;
    outline:none;
}

form.example button {
    float: left;
    width: 20%;
    height: 2.95%;
    padding: 10px;
    background: #f1f1f1;
    color: orange;
    font-size: 17px;
    border: 1px solid orangered;
    border-left: none;
    border-top: none;
    cursor: pointer;
    border-bottom-right-radius: 12px;
}

form.example button:hover {
    background: white;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}

.example{
    width: 250px;
    margin-left: 18%;
}

.Filtri{
    margin-left: 30%;
}

.BottoniFiltri1{
    font-size: 20px;
    margin-left: 60%;
    margin-bottom: 2%;
    background-color: red;
    border-radius: 12px;
    border: none;
    color: white;
}

.BottoniFiltri2{
    font-size: 20px;
    background-color: orangered;
    border-radius: 12px;
    border: none;
    color: white;
}

.Bordo{
    border: 1px solid black;
}


.Valore{
    background: none;
    border: none;
    outline:none;
}